---
import { CERTIFICATIONS } from "../constants/Certifications";
import Link from "../icons/Link.astro";
import LinkButton from "./LinkButton.astro";
---

<p
  class="text-center text-lg font-extralight leading-8 dark:text-gray-400 text-gray-600"
>
  Certificados que han contribuido a mi crecimiento profesional
</p>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">
  {
    CERTIFICATIONS.map(
      ({ title, academy, description, link, image }, index) => (
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-black/20 backdrop-blur-lg dark:border-gray-700 flex flex-col hover:translate-y-2 transition-colors">
          <a href={link} target="_blank" rel="noopener noreferrer">
            <img
              class="rounded-t-lg w-full h-48 object-cover"
              src={image}
              alt={`Certificación ${title}`}
              loading="lazy"
            />
          </a>
          <div class="p-5 flex flex-col flex-grow">
            <div class="flex-grow">
              <a href={link} target="_blank" rel="noopener noreferrer">
                <h3 class="mb-2 font-bold tracking-tight text-gray-900 dark:text-white  transition-colors">
                  {title}
                </h3>
              </a>
              <p class="text-sky-500 dark:text-sky-400 opacity-80 font-semibold mb-3">
                {academy}
              </p>

              {/*
              <div class="mb-3">
                <p
                  id={`description-${index}`}
                  class="text-sm text-gray-700 dark:text-gray-400 line-clamp-3"
                >
                  {description}
                </p>
                <button
                  id={`toggle-${index}`}
                  class="text-sm important-color opacity-80 hover:underline mt-1"
                  onclick={`
                  const desc = document.getElementById('description-${index}');
                  const btn = document.getElementById('toggle-${index}');
                  if (desc.classList.contains('line-clamp-3')) {
                    desc.classList.remove('line-clamp-3');
                    btn.textContent = 'Leer menos';
                  } else {
                    desc.classList.add('line-clamp-3');
                    btn.textContent = 'Leer más';
                  }
                `}
                >
                  Leer más
                </button>
              </div>
              */}
            </div>
            <div class="text-sky-500 dark:text-sky-400 mt-1 flex flex-row gap-x-2">
              {link && (
                <Link class="size-4" />
                <a
                  class="opacity-90 hover:translate-y-1 transition-colors "
                  href={link}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Ver certificado
                </a>
              )}
            </div>
          </div>
        </div>
      )
    )
  }
</div>
