---
import { projects } from "../constants/Projects";
import Link from "../icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import GitHub from "../icons/Github.astro";
import CSharpIcon from "../icons/languajes/CSharp.astro";

import NextJSIcon from "../icons/frontend/NextJS.astro";
import TailwindIcon from "../icons/frontend/Tailwind.astro";
import ReactIcon from "../icons/frontend/React.astro";
import AngularIcon from "../icons/frontend/Angular.astro";
import FirebaseIcon from "../icons/Firebase.astro";
import NodeJSIcon from "../icons/backend/NodeJs.astro";
import SupabaseIcon from "../icons/Supabase.astro";
import PythonIcon from "../icons/languajes/Python.astro";
import SqlServerIcon from "../icons/databases/SqlServer.astro";
import TensorFlowIcon from "../icons/TensorFlow.astro";
import JwtIcon from "../icons/Jwt.astro";
import NetIcon from "../icons/backend/Net.astro";

// Mapeo de strings a componentes
const ICONS = {
  NextJS: NextJSIcon,
  Tailwind: TailwindIcon,
  React: ReactIcon,
  Angular: AngularIcon,
  Firebase: FirebaseIcon,
  NodeJs: NodeJSIcon,
  Supabase: SupabaseIcon,
  Python: PythonIcon,
  SqlServer: SqlServerIcon,
  CSharp: CSharpIcon,
  TensorFlow: TensorFlowIcon,
  Jwt: JwtIcon,
  Net: NetIcon,
};
---

<p
  class="text-center text-lg font-extralight leading-8 dark:text-gray-400 text-gray-600"
>
  Algunos de mis proyectos
</p>
<div class="flex flex-col gap-y-16 mt-8">
  {
    projects.map(
      ({
        image,
        title,
        description,
        technologies,
        link,
        github,
        is_active,
      }) => (
        <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
          <div class="w-full md:w-1/2">
            <div
              class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 
    transition duration-500 ease-in-out transform shadow-xl 
    overflow-clip rounded-xl sm:rounded-xl 
    md:group-hover:-translate-y-1 md:group-hover:shadow-2xl 
    lg:border lg:border-gray-800 lg:hover:border-gray-700 
    lg:hover:bg-gray-800/50"
            >
              <div class="w-full h-48 sm:h-44 md:h-48 overflow-hidden">
                <img
                  alt={`imagen del proyecto ${title}`}
                  class="object-cover object-top w-full h-full
           transition duration-500 
           md:scale-110 md:group-hover:scale-105"
                  loading="lazy"
                  src={image}
                />
              </div>

              {/* Ícono GitHub arriba a la derecha */}
              {github && (
                <div class="absolute top-2 right-2">
                  <LinkButton href={github} title={title}>
                    <GitHub class="size-6" />
                  </LinkButton>
                </div>
              )}
            </div>
          </div>

          <div class="w-full md:w-1/2 md:max-w-lg">
            <h3 class="text-2xl font-bold important-color opacity-80">
              {title}
            </h3>
            <div class="flex flex-col mt-2">
              <ul class="flex flex-row flex-wrap mb-2 gap-x-2 gap-y-2">
                {technologies.map((tag) => {
                  const Icon = ICONS[tag.icon];
                  return (
                    <li>
                      <span
                        class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
                      >
                        {Icon && <Icon class="size-4" />}
                        {tag.name}
                      </span>
                    </li>
                  );
                })}
              </ul>

              <div class="text-sm mt-2 dark:text-gray-400 text-gray-600">
                {description}
              </div>
              {is_active && link && (
                <LinkButton href={link}>
                  Ver demo <Link class="size-6" />
                </LinkButton>
              )}
            </div>
          </div>
        </article>
      )
    )
  }
</div>
